body {
    margin: 0px;
    padding: 0px;
    background-color: $body-bg;
    font-family: 'Nanum Gothic';
    color: $body-color;
    font-size: 0.8rem;
}

.j2kb .header-navigation {
    padding: 0px 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    box-shadow: none;

    .header-title {
        font-family: 'Noto Sans KR';
        color: $body-color;
        font-weight: bold;
        font-size: 1.3em;
    }
}

.j2kb .j2kb-container {
    margin-top: calc(#{$header-height} + 10px);
    padding: 0px;

    .inner-container {
        flex-direction: row;

        .ls {
            flex-grow: 0;
            box-sizing: border-box;
        }

        .rs {
            flex-grow: 1;
            box-sizing: border-box;
        }
    }
}

@media screen and (min-width: $breakpoint-xs) {
    .j2kb .header-navigation {
        height: $header-height;
        min-height: $header-height;

        .header-toolbar {
            height: $header-height;
            min-height: $header-height;
        }
    }

    .j2kb .j2kb-container {
        .inner-container {
            .ls {
                display: none;
            }

            .rs {
                padding: 0px 10px;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-sm) {
    .j2kb .j2kb-container {
        .inner-container {
            .ls {
                display: block;
                min-width: 300px;
                padding: 0px 0px 0px 10px;
            }

            .rs {
            }
        }
    }
}

@media screen and (min-width: $breakpoint-md) {
    .j2kb .j2kb-container {
        .inner-container {
            .ls {
            }

            .rs {
            }
        }
    }
}

@media screen and (min-width: $breakpoint-lg) {
    .j2kb .j2kb-container {
        .inner-container {
            .ls {
            }

            .rs {
            }
        }
    }
}

@media screen and (min-width: $breakpoint-xl) {
    .j2kb .j2kb-container {
        .inner-container {
            .ls {
            }

            .rs {
            }
        }
    }
}
